<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/images/logo4.svg" style="height:100%"></a>
        </div>
    </div>
</nav>

<div class="container">
    
    <h1>Districts</h1>

    {{#each districts}}
    <h2><a href="district/{{name}}">{{nameJP}} {{name}}</a></h2>
    <div class="row">

        {{#each addresses}}
        <div class="col-xs-12 col-sm-4 addresses">
            <a href="district/{{../name}}">{{addressJP}}</a><br>{{address}}<br>{{zipcode}}
        </div>
        {{/each}}

    </div>
    {{/each}}

</div>
