<h1>
  <span class='districtJP'>
    {{district.nameJP}}
  </span>

  <span class='districtEN'>
    {{district.name}}
  </span>
</h1>

<div class='row'>
  <div class='col-xs-12 col-sm-4'>
    <h2>
      Schedule
    </h2>
    {{#each district.garbages}}
      <div class='garbages'>
        <b>
          <span class='nameJP'>
            {{garbage.nameJP}}
          </span>
          <br />
          <span class='nameEN'>
            {{garbage.name}}
          </span>
        </b>
        <br />
        ({{frequency}}) {{nextDateFormatted}}
      </div>
    {{/each}}
  </div>
  <div class='col-xs-12 col-sm-8'>
    <h2>
      Area
    </h2>

    <p>
      <div id='map'></div>
      <script id='locations' data-locations="{{locations}}"></script>
      <script>
        var locations = JSON.parse(document.getElementById("locations").getAttribute("data-locations"));
                var map;
                var geocoder;

                function initMap() {
                    geocoder = new google.maps.Geocoder();

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: 35.013134,
                            lng: 135.959936
                        },
                        zoom: 13,
                        disableDefaultUI: true,
                        draggable: false,
                        scrollwheel: false,
                        disableDoubleClickZoom: true
                    });

                    var bounds = new google.maps.LatLngBounds(); //make bounds based off address points

                    locations.forEach(function(p) {
                        var marker = new google.maps.Marker({
                            map: map,
                            position: p
                        });
                        bounds.extend(p);
                    });

                    map.fitBounds(bounds);

                    google.maps.event.addDomListener(window, "resize", function() {
                        google.maps.event.trigger(map, "resize");
                        map.fitBounds(bounds);
                        //if window resizes recenter on bounds
                    });
                }
      </script>
      <script src="{{{mapsURL}}}" async defer></script>
    </p>

    <p>
      <div class='row'>
        {{#each district.addresses}}
          <div class='col-xs-12 col-sm-6 col-md-4 col-lg-4'>
            <div class='addresses'>
              {{addressJP}}<br />{{address}}<br />
              〒{{zipcodePretty}}
            </div>
          </div>
        {{/each}}
      </div>
    </p>
  </div>
</div>